@using Domain.Entities
@model IQueryable<Car>

<table class="mt-4 table table-hover">
    <thead>
        <tr>

            <th>Marka</th>
            <th>Model</th>
            <th>Yil</th>
            <th>Yakit</th>
            <th>Plaka</th>
            <th>Vites</th>
            <th>Airbag</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <th>@item.Marka</th>
                <th>@item.Model</th>
                <th>@item.Yil</th>
                <th>@item.Yakit</th>
                <th>@item.Plaka</th>
                <th>@item.Vites</th>
                <th>@item.IsAirBag</th>

                <th><a asp-action="RemoveCar" asp-controller="Admin" asp-route-id=@item.Id>Sil</a></th>
                <th><a asp-action="UpdateCar" asp-controller="Admin" asp-route-id=@item.Id>Guncelle</a></th>

            </tr>
        }

    </tbody>

</table>