@using Application.ViewModels
@model IEnumerable<Rent_Car_View_Model>

<table class="mt-4 table table-hover">
    <thead>
        <tr>

            <th>Marka</th>
            <th>Model</th>
            <th>Yil</th>
            <th>Yakit</th>
            <th>Plaka</th>
            <th>Vites</th>
            <th>Airbag</th>
            <th>Kirala</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <th>@item.Marka</th>
                <th>@item.Model</th>
                <th>@item.Yil</th>
                <th>@item.Yakit</th>
                <th>@item.Plaka</th>
                <th>@item.Vites</th>
                <th>@item.IsAirBag</th>
                @if (item.IsOk == false)
                {
                    <th><a asp-action="Rent" asp-controller="Member" asp-route-id=@item.CarId>Kirala</a></th>

                }
                @if (item.IsOk == true)
                {
                    <th>Kiralandi</th>
                }
            </tr>
        }

    </tbody>

</table>