@using Domain.Entities
@model IQueryable<Car>

<table class="mt-4 table table-hover">
    <thead>
        <tr>

            <th>Marka</th>
            <th>Model</th>
            <th>Yil</th>
            <th>Yakit</th>
            <th>Vites</th>
            <th>Airbag</th>
            <th>Airbag</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <th>@item.Marka</th>
                <th>@item.Model</th>
                <th>@item.Yil</th>
                <th>@item.Yakit</th>
                <th>@item.Vites</th>
                <th>@item.IsAirBag</th>
                @if (item.IsRent == false)
                {
                    <th><a asp-action="Rent" asp-controller="Member" asp-route-id=@item.Id>Kirala</a></th>
                }
            </tr>
        }

    </tbody>

</table>